h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}
.container {
    min-height: 100%;
    min-width: 100%;
}

.toolbar {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.toolbar__spacer {
    flex: 1;
}

.toolbar__site-logo {
    width: 50px;
    height: 50px;
    background: white;
    padding: 2px;
    border-radius: 30px;
}

.toolbar__logo {
    height: 24px;
}

.router {
    margin-right: 4px;
}

.router__button {
    margin: 0px 6px;
}

.router__button:hover {
    opacity: 0.9;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

footer {
    display: flex;
    justify-content: center;
    line-height: 20px;
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }

    .card.highlight-card span {
        margin-left: 72px;
    }

    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}