<div class="content" role="main">

    <h1 class="mat-h1">About</h1>
    <div class="content__box" fxLayout="row">
        <img class="content__image" src="https://weskenyon.files.wordpress.com/2018/01/wes.jpg" alt="Wes" width="197"
            height="301" />
        <div fxLayout="column">
            <p class="mat-body">
                This is the personal site for Wes Kenyon focusing mainly on software engineering, business lessons, and
                other ideas.
            </p>
            <p class="mat-body">
                I have been involved in some sort of Software or Hardware since I was a kid which eventually led me down
                the
                path of being a Software Engineer. As a teen I attended summer camp creating <a
                    href="https://en.wikipedia.org/wiki/Lego_Mindstorms#Robotics_Invention_System" target="_blank"
                    rel="noopener">Lego Mindstorm robots</a> and through High School I would get my first real taste of
                coding creating Dr. Mario in Visual Basic. I would learn Java and Object Oriented Programming and from
                there I knew
                what to do when I moved onto a higher education level. I graduated from The Ohio State University in
                2016 with a
                degree in Computer Engineering.
            </p>
            <p class="mat-body">
                I am currently a Software Developer at a large Tech Company based in Cleveland. I work on Full Stack
                style development
                with JavaScript, HTML, and CSS/SASS for the front end, and C# and ASP.NET with Microsoft SQL for backend
                technologies.
                I have also created and designed modern Angular SPA applications with RESTful API endpoints for our
                newer healthcare offerings.

                In my free time I enjoy reading science fiction, playing retro video games, watching sports, or cooking.
                When the weather is right I like to ski and go fishing and play sports. I am an avid music listener and
                also
                love to watch movies.
            </p>

        </div>
    </div>
</div>