$site-primary: (
  50: #ecf5fe,
  100: #cfe7fc,
  200: #b0d7fa,
  300: #90c7f7,
  400: #78bbf6,
  500: #60aff4,
  600: #58a8f3,
  700: #4e9ff1,
  800: #4496ef,
  900: #3386ec,
  A100: #ffffff,
  A200: #feffff,
  A400: #cbe1ff,
  A700: #b2d3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$site-primary: (
  50: #ffe1e1,
  100: #ffb4b4,
  200: #ff8282,
  300: #ff5050,
  400: #ff2b2b,
  500: #ff0505,
  600: #ff0404,
  700: #ff0404,
  800: #ff0303,
  900: #ff0101,
  A100: #ffffff,
  A200: #fff2f2,
  A400: #ffbfbf,
  A700: #ffa6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
